<html>

  <head>
    <title>Birthday</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
  
    <p><% if @birthday.count == 365 %></p>
    <img src="https://i.postimg.cc/L5FB8DQ1/r-596823-ye9q3.jpg" />
    <h2><%= %> Happy birthday <%= @name %>!</h2>
    <p><% elsif @birthday.count == -1%></p>
    <img class="img1" src="https://i.postimg.cc/KcfGZzH9/90b73dcd76b0d8ec6b400cd9e869a359.png" />
    <h2><%= %>Wow! You haven't been born yet!</h2>
    <p><% else %></p>
    <img class="img2" src="https://i.postimg.cc/8cQt9NhM/4f828d05f82b8b7aedfe8be6a7d9d2a3.png" />
    <h2><%= %>Your birthday will be in <%= @birthday.count %> days, <%= @name %>.<h2>
    <p><% end %></p>

    <form action="/">
      <div class="action_btn1">
        <button name="submit" class="action_btn" type="submit" value="Try again">Try again</button>
      </div>
    </form>
  </body>

  <footer id="footer" class="contacts">
    <a class="icons" href="https://www.linkedin.com/in/yaroslava-yates-629517221/" target="_blank">
        <img class="icons" src="https://i.postimg.cc/CKhnxt4D/link.png" alt="Linkedin">
    </a>
  </footer>

</html>
